@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
.teal {
  background-color: #00add0 !important; }

.grey {
  background-color: #aaaaaa !important; }

.center-block {
  margin: 0 auto;
  float: none !important; }

.center-text {
  text-align: center; }

body {
  background-color: #f5f5f5 !important;
  font-family: "Montserrat", sans-serif; }

body.pushable > .pusher {
  background: #f5f5f5; }

.main-content {
  margin-top: 8em; }

#main .ui.menu {
  background: #003748;
  height: 5em;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  border-bottom: none;
  font-family: "Montserrat", sans-serif;
  border: none; }
  #main .ui.menu .right.menu {
    padding-right: 10px; }
    #main .ui.menu .right.menu .item {
      padding: 0em 1.5em; }
    #main .ui.menu .right.menu .icon {
      color: #fff; }
    #main .ui.menu .right.menu .active {
      background-color: transparent; }
      #main .ui.menu .right.menu .active i {
        color: #0086a3; }
    #main .ui.menu .right.menu a.item {
      padding: 0em 1em; }
  #main .ui.menu i.chevron {
    margin-left: 15px; }

#main a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em; }

#main .item {
  padding: 0em 3em; }

#main .item.active {
  background-color: #fff; }

#main a.item.active {
  color: #003748; }

#main .dropdown.item.active {
  color: #003748; }

#main .item:first-child {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important; }

#main span.text {
  color: #fff; }

#main .visible span.text {
  color: #003748; }

.logo img {
  width: auto !important;
  height: 1.7em; }

.ui.dropdown > .dropdown.icon:before {
  color: #fff; }

.visible > .dropdown.icon:before {
  color: #003748 !important; }

#settings-menu, #language-menu {
  width: 300px; }
  #settings-menu .item, #language-menu .item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    padding: 1.8em 0em 1.8em 2em; }
  #settings-menu .item:hover, #language-menu .item:hover {
    background-color: #01475d;
    color: #FFF; }

.icon-menu {
  height: auto !important;
  top: 5em !important;
  background-color: #003748 !important; }
  .icon-menu .visible {
    top: 5em !important;
    height: auto !important;
    background-color: #003748 !important; }

.icon-menu.ui.sidebar {
  height: auto !important; }
  .icon-menu.ui.sidebar a.item {
    color: #fff; }

.submenu {
  margin-top: 0px !important; }
  .submenu .ui.menu {
    margin: 0 auto;
    border: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important; }

#main .popup {
  left: 0px !important;
  top: 51px;
  left: 0px;
  bottom: auto;
  min-width: 100%;
  box-shadow: none;
  border: none; }

.ui.bottom.left.popup:before {
  display: none; }

.submenu ul.ui.list {
  text-align: center !important; }

.submenu a.item {
  color: #003748 !important;
  text-align: center;
  padding: 1em 3em !important; }

.submenu .column {
  margin: auto auto; }

.submenu a {
  display: inline-block !important; }

.accordion {
  margin-bottom: 80px;
  margin-top: 30px; }
  .accordion h3 {
    float: none;
    display: inline;
    font-size: 1.4rem;
    padding-right: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }
  .accordion .title {
    background-color: #fff; }
    .accordion .title:not(.ui) {
      font-size: 1.1em !important; }
  .accordion .content.active {
    padding-left: 20px; }
  .accordion .ui.dropdown > .dropdown.icon:before {
    color: #000; }
  .accordion i.level {
    float: left;
    color: #000;
    margin-left: 30px; }
  .accordion i.write.icon {
    border-left: 1px solid #CCC;
    height: 25px;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 20px; }

.ui.accordion .active.title .chevron.down.icon, .ui.accordion.menu .item .active.title > .chevron.down.icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 5px; }

.ui.accordion .title {
  padding: 1.5em 1em !important;
  margin-top: 10px;
  text-align: left; }

.accordion-header h2, button {
  display: inline-block;
  text-align: left;
  font-size: 2.4rem; }

.accordion-title {
  font-size: 2.5em;
  font-weight: 700; }

.accordion-header button {
  float: right; }

.ui.accordion .title .dropdown.icon {
  float: right !important;
  margin-right: 40px; }

.more-info {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 10px; }

.accordion .more-info, .title .icon {
  float: right;
  color: #00add0;
  text-transform: uppercase; }

.accordion > .content {
  background-color: #fff; }

.ui.accordion:not(.styled) .title ~ .content:not(.ui) {
  background-color: #fff !important;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px; }

/********** ACCORDION FORM ***********/
.ui.divided.list > .item {
  border-top: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 25px;
  padding-bottom: 7px; }

.actions {
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: none; }

.field .editable {
  border-bottom: 1px solid #efefef !important; }

.ui.form .field {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif; }

.ui.form .field > label {
  font-weight: 400;
  color: #333;
  margin: 0px;
  padding-left: 13px; }

input[type="text"], .selection {
  border-bottom-color: #efefef !important;
  border: none !important;
  padding-bottom: 50px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important; }

.accordion .ui.selection.active.dropdown .menu {
  border-color: #efefef; }

.accordion .login-credentials label {
  line-height: 40px;
  font-family: 'Roboto', sans-serif; }

.accordion .login-credentials .item {
  margin-top: 5px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 0.8em; }
  .accordion .login-credentials .item span {
    text-transform: none; }

.accordion .login-credentials .reset-password {
  display: none; }

.accordion .login-credentials .remove {
  color: #ff0000;
  display: none; }

/*********** SEARCH FORM ************/
.ui.icon.input > i.icon:after, .ui.icon.input > i.icon:before {
  border-left: 1px solid #ccc; }

.ui.input {
  width: 100%; }

.icon.input input {
  width: 100%;
  padding: 15px; }

.circle-checkbox {
  width: 25px;
  margin: 20px 100px;
  position: relative; }

.circle-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd; }

.circle-checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.ui.button {
  border-radius: 3em;
  padding: 1.2em 2em;
  margin-left: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.ui.small.button {
  font-size: 0.7rem; }

.ui.large.button {
  font-size: 1.1rem; }

.circle-checkbox {
  width: 25px;
  margin: 20px 100px;
  position: relative; }

.circle-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd; }

.circle-checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/*********** STATION LIST **************/
.yellow-border {
  border-left: 8px solid #fee884; }

.green-border {
  border-left: 8px solid #bcdca1; }

.pink-border {
  border-left: 8px solid #f7a1ae; }

.inline.fields.station-status {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.pink-border:before {
  font-family: Icons;
  content: "\f071";
  font-size: 22px;
  color: #000;
  line-height: 8px;
  margin-right: 10px;
  margin-top: 8px;
  margin-left: -55px;
  position: absolute;
  vertical-align: middle; }

.title .wide.column {
  border-right: 1px solid #CCC; }

.title .four.wide.column:last-child {
  border: none; }

.title .column:nth-child(3) {
  border: none; }

.station-list .ui.grid > .column:not(.row) {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.status-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em; }

.station-list .accordion {
  margin-top: 1.5em; }

.stations .content .column {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.station-list .column {
  padding-left: 2em; }

.title .four.wide.column {
  font-size: 1em; }

.stations .field .editable {
  border-bottom: 1px solid #efefef !important;
  border-right: 1px solid #efefef !important; }

/******** ROUNDED CHECKBOXES ***********/
.station-status .ui.checkbox .box:before, .station-status .ui.checkbox label:before {
  visibility: hidden; }

.rounded-check {
  width: 28px;
  height: 28px;
  position: relative; }

.rounded-check label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 0px;
  font-size: 0em !important;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 100px;
  left: 4px;
  top: 4px;
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 ); }

.rounded-check label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.rounded-check input[type=checkbox] + label {
  background: #efefef !important;
  border: 2px solid #ccc; }

.rounded-check input[type=checkbox]:checked + label {
  background-color: #000 !important;
  background: #000 !important; }

.rounded-check input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.rounded-check span {
  display: inline-block;
  width: 145px;
  float: left;
  margin-left: 41px;
  margin-top: -15px; }

.station-status > .ui.checkbox .box:after, .station-status .ui.checkbox label:after {
  position: absolute;
  font-size: 0px !important;
  top: 4px;
  left: 3px;
  width: 15px;
  height: 10px; }

.ui.form .inline.fields.station-status .field {
  margin-right: 180px !important; }

.ui.checkbox.square-checkbox {
  margin-right: 80px !important; }

.square-checkbox .box:before, .square-checkbox label:before {
  width: 21px !important;
  height: 21px !important;
  background: #999 !important;
  top: -2px !important; }

.square-checkbox .box:after, .square-checkbox label:after {
  color: #fff !important;
  top: 1px !important;
  left: 2px !important; }

.version {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif; }
  .version span {
    margin-left: 10px;
    color: #aaaaaa; }

.station-controls {
  margin-bottom: 20px;
  flex-direction: row !important;
  -webkit-justify-content: flex-end !important; }

/*********** LOGS **************/
.logs-container {
  background-color: #fff;
  padding: 50px; }
  .logs-container input#datepicker {
    border: none;
    background: none;
    font-size: 1.5em;
    width: 130px; }
  .logs-container button.ui-datepicker-trigger {
    background: none;
    border: none; }
  .logs-container p.date-picker {
    text-align: center; }
  .logs-container .next-day {
    margin-left: 30px;
    cursor: pointer;
    vertical-align: inherit !important; }
  .logs-container .prev-day {
    margin-right: 30px;
    cursor: pointer;
    vertical-align: inherit !important; }
  .logs-container .table {
    border: none; }
    .logs-container .table thead {
      border-bottom: none;
      background: none;
      visibility: hidden; }
    .logs-container .table .row {
      border: none; }
    .logs-container .table tr {
      line-height: 2em; }
      .logs-container .table tr td {
        border: none; }
  .logs-container .ui.striped.table tbody tr:nth-child(2n), .logs-container .ui.striped.table > tr:nth-child(2n) {
    background-color: #eef9fe; }
  .logs-container .expandable {
    text-align: center;
    color: #00add0;
    cursor: pointer; }
    .logs-container .expandable .icon {
      display: block;
      text-align: center;
      margin: 0 auto; }

.ui.top.attached.tabular.menu {
  padding-bottom: 50px;
  border: 1px solid #D4D4D5;
  border-bottom: none; }

h3 {
  padding-left: 13px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px; }

.ui.attached.tabular.menu {
  background-color: #fff;
  border: none; }
  .ui.attached.tabular.menu a.item {
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", sans-serif; }

.ui.tabular.menu .active.item {
  border: none;
  background-color: #003748;
  border-radius: 0px !important;
  color: #fff; }

.form-actions {
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
  padding-right: 30px !important; }

.field {
  padding-right: 30px; }
  .field ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000 !important; }
  .field :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000 !important;
    opacity: 1; }
  .field ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000 !important;
    opacity: 1; }
  .field :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important; }
  .field .editable {
    border-bottom-color: #CCC !important; }

.divided.list {
  margin-left: 40px; }

#add-product {
  margin-top: 30px; }

.segment {
  padding-bottom: 100px;
  padding-right: 50px; }

.ui.grid.content-header {
  margin-bottom: 40px; }

#station-map {
  width: 120%;
  margin-left: -10%; }
  #station-map .title {
    margin-left: auto;
    text-transform: uppercase;
    color: #00add0; }
  #station-map .ui.attached.tabular.menu a.item {
    padding: 20px 20px; }

#map-container {
  height: 800px;
  background-color: #ccc;
  z-index: 1; }

#gmap {
  height: 800px;
  background-color: #ccc;
  z-index: 1; }

.close-station {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer; }

#stations-sidebar {
  position: relative;
  width: 200px;
  background-color: #fff;
  height: 800px;
  right: 0px;
  z-index: 3;
  background-color: #CCC; }

/*.overlap{
  position: relative;
  z-index:20;
  background: white;
  width: 250px;
  height: 700px;
  margin-top: -700px;
  float: right;
  overflow: hidden;
*/
.overlap {
  position: relative;
  z-index: 20;
  background: white;
  width: 250px;
  height: 800px;
  margin-top: -800px;
  margin-left: 150px;
  overflow: hidden; }
  .overlap h4 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    padding-left: 23px; }
  .overlap .company-location {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    padding-right: 20px;
    cursor: pointer; }
  .overlap .active {
    background-color: #003748;
    color: #fff; }
  .overlap .add.circle {
    float: left;
    margin-left: -25px; }
  .overlap .station-list {
    height: 610px;
    overflow: hidden; }
  .overlap .chevron.down {
    margin-top: 25px;
    margin-left: 100px; }

.station-details {
  position: relative;
  z-index: 20;
  background: white;
  width: 951px;
  height: 800px;
  margin-top: -800px;
  float: right;
  overflow: hidden; }
  .station-details .ui.form .field {
    padding-bottom: 0px;
    position: relative; }
  .station-details .ui.bottom.attached.tab.segment.active, .station-details .ui.top.attached.tabular.menu {
    border: none; }
  .station-details .ui.bottom.attached.tab.segment {
    padding-left: 40px;
    padding-right: 40px; }
  .station-details .station-title {
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px; }

.pricing .station-title {
  border-bottom: none !important;
  margin-bottom: none !important; }

.pricing .field span {
  position: absolute;
  right: 75px;
  top: 27px;
  font-size: 10px;
  color: #aaaaaa; }

/****** MOBILE QUERIES *******/
@media (max-width: 768px) {
  #accordion-actions {
    position: relative;
    margin-top: 100px;
    float: right; } }
