.ui.button{
	border-radius: 3em;
	padding: 1.2em 2em;
	margin-left: 1.5em;
	font-family: $primary-font;
	font-weight: bold;
	text-transform: uppercase;

}

.ui.small.button{
	font-size: 0.7rem
}
.ui.large.button{
	font-size: 1.1rem;
}

//CHECKBOXES

.circle-checkbox{
width: 25px;
margin: 20px 100px;
position: relative;
}

.circle-checkbox label {
cursor: pointer;
position: absolute;
width: 25px;
height: 25px;
top: 0;
  left: 0;
background: #eee;
border:1px solid #ddd;
}

.circle-checkbox label:after {
opacity: 0.2;
content: '';
position: absolute;
width: 9px;
height: 5px;
background: transparent;
top: 6px;
left: 7px;
border: 3px solid #333;
border-top: none;
border-right: none;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
