/********** ACCORDION FORM ***********/

.ui.divided.list>.item {
	border-top: none;
    border-bottom: 1px solid rgba(34,36,38,.15);
    padding-top: 25px;
    padding-bottom: 7px;
} 
.actions{
	position: absolute;
    right: 20px;
    bottom: 30px;
    display: none;
}

	.field .editable{
		border-bottom: 1px solid $form-grey !important;

	}

	.ui.form .field{
		padding-bottom:20px;
		font-family: 'Roboto', sans-serif;
	}

	.ui.form .field>label{
		font-weight: 400;
		color: #333;
		margin: 0px;
		padding-left: 13px;

	}
 	input[type="text"], .selection{
 		border-bottom-color : $form-grey !important;
		border: none !important;
		padding-bottom:50px;
		@include border-radius(0px);

	}
 .accordion {

	.ui.selection.active.dropdown .menu{
		border-color: $form-grey;
	}
	.login-credentials{
		label{
			line-height: 40px;
			font-family: 'Roboto', sans-serif;
		}
		.item{
			margin-top: 5px;
			line-height: 30px;
			padding-left:10px;
			padding-right: 10px;
			text-transform: uppercase;
			font-size: 0.8em;
			span{
				text-transform: none;
			}
		}
		.reset-password{
			display: none;
		}
		.remove{
			color: $red;
			display: none;
		}
	}
}


/*********** SEARCH FORM ************/


.ui.icon.input>i.icon:after, .ui.icon.input>i.icon:before{
	border-left: 1px solid #ccc;
}

	.ui.input{
		width: 100%;
	}
	.icon.input input{
	    width: 100%;
	    padding: 15px;
	}	

//CHECKBOXES

.circle-checkbox{
width: 25px;
margin: 20px 100px;
position: relative;
}

.circle-checkbox label {
cursor: pointer;
position: absolute;
width: 25px;
height: 25px;
top: 0;
  left: 0;
background: #eee;
border:1px solid #ddd;
}

.circle-checkbox label:after {
opacity: 0.2;
content: '';
position: absolute;
width: 9px;
height: 5px;
background: transparent;
top: 6px;
left: 7px;
border: 3px solid #333;
border-top: none;
border-right: none;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
