$grey: #f5f5f5;
$dark-blue: #003748;
$white: #fff;
$settings-active: #0086a3;
$form-grey: #efefef;
$dark-grey: #aaaaaa;
$teal: #00add0;
$red: #ff0000;
$primary-font:'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;



.teal{
	background-color: $teal !important
}

.grey{
	background-color: $dark-grey !important;
}
