@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
     -moz-border-radius: $radius !important;
      -ms-border-radius: $radius !important;
          border-radius: $radius !important;
}

@mixin placeholder($color){

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    $color !important;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    $color !important;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    $color !important;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    $color !important;
	}
}

