
 .ui.top.attached.tabular.menu{
 	    padding-bottom: 50px;
	    border: 1px solid #D4D4D5;
	    border-bottom: none;
 }
	h3{
		padding-left: 13px;
		text-transform: uppercase;
		font-family: $primary-font;
		padding-bottom: 10px;
	}

	.ui.attached.tabular.menu{		
   		 background-color: $white;
   		 border: none;


   		 a.item{
   		 	padding: 20px 40px;
   		 	text-transform: uppercase;
   		 	font-weight: bold;
   		 	font-family: $primary-font;
   		 }
	}

	.ui.tabular.menu .active.item {
		border: none;
		background-color: $dark-blue;	
		border-radius: 0px !important;
		color: $white;
	}

	.form-actions{
		   	-webkit-justify-content: flex-end !important;
 			 justify-content: flex-end !important;
 			 padding-right: 30px !important;
	}

	.field {
	    padding-right: 30px;
	    @include placeholder(#000);
	    .editable{
	    	border-bottom-color: #CCC !important;
	    }	    
	}

	.divided.list{
		margin-left: 40px;
	}

	#add-product{
		margin-top: 30px;
	}

	.segment{
		padding-bottom:100px;
		padding-right: 50px;
	}



.ui.grid.content-header{
	margin-bottom: 40px;
}

