
#station-map
{
	width: 120%;
	margin-left:-10%;

	.title{
		margin-left: auto;
		text-transform: uppercase;
		color: $teal;
	}
 	.ui.attached.tabular.menu a.item{
 		padding: 20px 20px;
 	}
}
#map-container{
	height: 800px;
	background-color: #ccc;
	z-index: 1;

}

#gmap{
	height: 800px;

	background-color: #ccc;
	z-index: 1;
}

.close-station{
	position: absolute;
    right: 10px;
    top: 12px;
    cursor:pointer;
}

#stations-sidebar{
	position: relative;
	width:200px;
	background-color: #fff;
	height: 800px;
	right: 0px;
	z-index: 3;
	background-color: #CCC;
}
/*.overlap{
  position: relative;
  z-index:20;
  background: white;
  width: 250px;
  height: 700px;
  margin-top: -700px;
  float: right;
  overflow: hidden;
*/

.overlap{
  position: relative;
  z-index:20;
  background: white;
  width: 250px;
  height: 800px;
  margin-top: -800px;
  margin-left: 150px;
  overflow: hidden;

  h4{
  	 text-transform: uppercase;
  	 font-family: $primary-font;
  	 margin-top: 30px;
  	 padding-left: 23px;
  }
  .company-location{
  	font-family: $secondary-font;
    font-weight: 300;
    font-size: 1.1em;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    padding-right: 20px;
    cursor: pointer;
  }

      .active{
    	background-color: $dark-blue;
    	color: $white;
    }
  .add.circle{
  	float: left;
    margin-left: -25px;
  }
  .station-list{
  	height: 610px;
  	overflow: hidden;
  }

  .chevron.down{
  	    margin-top: 25px;
  	    margin-left: 100px;
  }
}

.station-details{
  position: relative;
  z-index:20;
  background: white;
  width: 951px;
  height: 800px;
  margin-top: -800px;
  float: right;
  overflow: hidden;
    .ui.form .field{
    	padding-bottom: 0px;
    	position: relative;	
    }
    .ui.bottom.attached.tab.segment.active, .ui.top.attached.tabular.menu{
    	border: none;
    }
    .ui.bottom.attached.tab.segment{
    	padding-left: 40px;
    	padding-right:40px;
    }
    .station-title{
    	border-bottom: 1px solid #efefef;
    	margin-bottom: 20px;
    }

  }

  .pricing{
	    .station-title {
	     border-bottom: none !important; 
	     margin-bottom: none !important; 
	   }

	   .field span{
	   	    position: absolute;
		    right: 75px;
		    top: 27px;
		    font-size: 10px;
		    color: $dark-grey;
	   }
	}
