
/*********** LOGS **************/
.logs-container{
	background-color: #fff;
	padding: 50px;

	input#datepicker{
	    border: none;
	    background: none;
	    font-size: 1.5em;
	    width:130px;

	}

	button.ui-datepicker-trigger{
		background:none;
		border:none;
	}

	p.date-picker{
		text-align: center;
	}

	.next-day {
    	margin-left: 30px;
    	cursor: pointer; 
    	vertical-align: inherit !important; 	
	}

	.prev-day {
    	margin-right: 30px;
    	cursor: pointer;
    	vertical-align: inherit !important; 	
	}

	.table{

		thead{
			border-bottom: none;
			background: none;
			visibility: hidden;
		}

		border: none;
		.row{
			border: none;
		}

		tr {
			line-height: 2em;
		td{
			border: none;
		}
	  }
	}

	.ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n) {
    background-color: #eef9fe;
	}

	.expandable{
		text-align: center;
		color: $teal;
		cursor: pointer;
		.icon{
			 display: block;
	    	 text-align: center;
	   		 margin: 0 auto;
		}
	}

}
