
/*********** STATION LIST **************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.yellow-border{

	border-left: 8px solid #fee884;
}
.green-border{
	border-left: 8px solid #bcdca1;
} 
.pink-border{
	border-left: 8px solid #f7a1ae;
} 

.inline.fields.station-status {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}



.pink-border:before{
	font-family: Icons;
    content: "\f071";
    font-size: 22px;
    color: #000;
    line-height: 8px;
    margin-right: 10px;
    margin-top: 8px;
    margin-left: -55px;
    position: absolute;
    vertical-align: middle;
}

.title .wide.column {
    border-right: 1px solid #CCC;
}

.title .four.wide.column:last-child {
    border: none;
}
.title .column:nth-child(3) {
    border: none;
}

.station-list .ui.grid>.column:not(.row) {
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.status-header{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}

.station-list .accordion{
	margin-top: 1.5em;
}

.stations .content .column{
	padding-left: 0px !important;
	padding-right:0px !important;
}

.station-list .column{
	padding-left: 2em;
}
.title .four.wide.column{
	font-size:1em;
}

.stations .field .editable{
	border-bottom: 1px solid $form-grey !important;
	border-right: 1px solid $form-grey !important;
}

/******** ROUNDED CHECKBOXES ***********/

.station-status .ui.checkbox .box:before, .station-status .ui.checkbox label:before{
	visibility: hidden;
}


.rounded-check {
	width: 28px;
	height: 28px;
	position: relative;
}

.rounded-check label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	font-size: 0px;
	font-size: 0em !important;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 100px;
	left: 4px;
	top: 4px;
	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.rounded-check label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 3px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.rounded-check input[type=checkbox] + label{
	background: #efefef !important;
	border: 2px solid #ccc;
}

.rounded-check input[type=checkbox]:checked + label{
	background-color: #000 !important;
	background: #000 !important;

}

.rounded-check input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.rounded-check span{
	display: inline-block;
    width: 145px;
    float: left;
    margin-left: 41px;
    margin-top: -15px;
}

.station-status > .ui.checkbox .box:after,.station-status .ui.checkbox label:after {
    position: absolute;
    font-size: 0px !important;
    top: 4px;
    left: 3px;
    width: 15px;
    height: 10px;
}
.ui.form .inline.fields.station-status .field {
    margin-right: 180px !important;
}
.ui.checkbox.square-checkbox{
	margin-right: 80px !important;
}
.square-checkbox .box:before,.square-checkbox label:before{
    width: 21px !important;
    height: 21px !important;
    background: #999 !important;
    top: -2px !important;
}

.square-checkbox .box:after, .square-checkbox label:after{
	color: #fff !important;
	top: 1px !important;
    left: 2px !important;
}

.version{
	border-top: 1px solid $form-grey;
	border-bottom: 1px solid $form-grey;
	margin-bottom: 30px;
	font-family: $secondary-font;

	span{
		margin-left: 10px;
		color: $dark-grey;
	}
}

.station-controls{
	margin-bottom: 20px;
	 flex-direction: row !important;
    -webkit-justify-content: flex-end !important;
}

