#station-map {
  height: 700px;
  background-color: #ccc;
  z-index: 2;
  position: relative; }

#stations-sidebar {
  position: absolute;
  width: 200px;
  background-color: #fff;
  height: 700px;
  right: 0px;
  z-index: 3; }
