#main {

	.ui.menu{
		background: $dark-blue; 
		height: 5em;
		@include border-radius(0px); 
		border-bottom: none;
		font-family: $primary-font;
		border: none;

		.right.menu{
			padding-right:10px;
			.item{
				padding: 0em 1.5em
			}

			.icon{
				color: #fff;
			}
			.active{
				background-color: transparent;
				i{
					color: $settings-active;
				}
			}
			a.item{
				padding: 0em 1em;
			}


		}

		i.chevron{
			margin-left:15px;
		}
				
	}
		
		a{
			color: $white;
			text-transform: uppercase;
			font-size: 1.2em
		}

		.item{
			padding: 0em 3em;
		}
		.item.active{
			background-color: $white;
		}
		a.item.active{
			color:$dark-blue;
		}

		.dropdown.item.active{
			color:$dark-blue;
		}

		.item:first-child{
			@include border-radius(0px);
		}

		span.text{
			color: $white;
		}

		.visible span.text{
			color: $dark-blue;
		}

	}

	.logo img{
		width:auto !important;
		height: 1.7em;
	}

	.ui.dropdown>.dropdown.icon:before{
		color: $white;
	}
	.visible > .dropdown.icon:before{
		color: $dark-blue !important;
}

#settings-menu, #language-menu{
	width: 300px;

	   .item{
    	text-transform: uppercase;
    	font-weight: 700;
    	font-size: 1.2em;
    	padding: 1.8em 0em 1.8em 2em; 

    }
    .item:hover{
    	background-color: #01475d;
    	color:#FFF;
    }
}

.icon-menu{
	height: auto !important;
	top: 5em !important;
	background-color: $dark-blue !important;

    .visible{
	top: 5em !important;
    height: auto !important;
    background-color: $dark-blue !important;
}
}


.icon-menu.ui.sidebar{
	height: auto !important;
	a.item{
	color: #fff;
}
}