.submenu {
	margin-top:0px !important;
	.ui.menu{
		margin:0 auto;
		border: none !important;
		box-shadow: none !important;
		@include border-radius(0px);
		}	
}

#main .popup{
	left:0px !important;
	top: 51px;
	left: 0px; 
	bottom: auto;
    min-width: 100%;
    box-shadow: none;
    border:none;

}


.ui.bottom.left.popup:before{
	display: none;
}

.submenu ul.ui.list{
	text-align: center !important;
}



.submenu a.item{
	color: $dark-blue !important;
	text-align: center;
	padding: 1em 3em !important;
}

.submenu .column{
	margin: auto auto;
}

.submenu a {
    display: inline-block !important;
}