.accordion{
	margin-bottom: 80px;
	margin-top: 30px;
	 h3{
		float: none;
		display: inline;
		font-size: 1.4rem;
		padding-right: 13px;
		font-family: $primary-font;
		font-weight: 400;
     }
	 .title{
		background-color: $white;	
		&:not(.ui){
			font-size: 1.1em !important;
		}
	}
	.content.active{
		padding-left: 20px;
	}
	.ui.dropdown > .dropdown.icon:before {
    color: #000;
	}

	i.level{
		float:left;
		color: #000;
		margin-left: 30px;
	}

	i.write.icon {
	    border-left: 1px solid #CCC;
	    height: 25px;
	    margin-left: 20px;
	    margin-right: 30px;
	    padding-left: 20px;
	}
	
}


.ui.accordion .active.title .chevron.down.icon, .ui.accordion.menu .item .active.title>.chevron.down.icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 5px;

}


.ui.accordion .title{
	padding: 1.5em 1em !important;
	margin-top: 10px ;
	text-align: left;
}

.accordion-header h2, button {
	display:inline-block;
	text-align: left;
	font-size: 2.4rem;
}

.accordion-title{
	font-size: 2.5em;
    font-weight: 700;
}


.accordion-header button{
	float: right;
}

.ui.accordion .title .dropdown.icon {
	float: right !important;
	margin-right: 40px;

}

.more-info{
	font-family: $primary-font;
	font-weight: bold;
	margin-right: 10px;
}

.accordion .more-info, .title .icon{
	float: right;
	color: $teal;
	text-transform: uppercase;


}
.accordion > .content {
	background-color: #fff;
}


.ui.accordion:not(.styled) .title~.content:not(.ui){
	background-color: #fff !important;
	padding-left: 60px;
	padding-right: 60px;
	padding-top:30px;

}